
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width:1100px;
    margin: auto;
}
nav{
    width:100%;
    overflow: hidden;
    background: #181818;
    /* margin-top: 2rem; */
}
nav .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
nav h1{
    font-size: 2rem;
}
.link{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-items: center;
}
nav .primary-btn{
    padding-left: 1rem;
}
.link a{
    padding-left: 2.5rem;
}
.links a:hover{
    color:#fff;
}
.links p{
    display: inline-block;
}
/* home */
#home .container {
    padding: 1rem;
}
#home .homes{
   display: grid;
   grid-template-columns:repeat(2,1fr);
   grid-gap:1rem;
   text-align:center;
}
.hospitalis{
   display: grid;
   grid-template-columns:repeat(2,1fr);
   grid-gap:1rem;
   /* text-align:center; */
   padding:1rem;
   margin: 1.9rem;
}
.homes img{
    max-width: 100%;
    height: 400px;
}
#dashboard{
    padding: 2rem;
}

/* // footer */
#m-footer{
    background: #181818;
    padding: 2rem;
    color:#fff;
    font-weight:500;
}
#m-footer p{
    text-align: center;  
}
footer{
    text-align: center;
    align-items: center;
}
footer .link{
    padding-left:1rem;
    text-align: center;
    display: inline-block;
}
/* stying the home page */
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}
#wrapper{
    background: #181818;
    color:#fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
#left{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
#right{
    flex: 1;
}
/* sign in */
#signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;
}
#signin form{
    width:80%;
    padding-bottom: 3rem;
}
#signin .logo{
    margin-bottom: 8vh;
}
#signin label{
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}
#signin .form-control{
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding:0.5rem 1rem;
    line-height: 1.3rem;
}
#signin .primary-btn{
    width:100%;
}
#signin  .secondary-btn,.or,.links{
    width:60%;
}
#signin .links a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
    font-size: 0.9rem;
}
#signin .or{
    display:flex;
    flex-direction:row;
    margin-bottom:1.2rem;
    align-items:center;
}
#signin .or .bar{
    flex:auto;
    border: none;
    height: 1px;
    background: #aaa;
}
#signin .or span{
    color: #ccc;
    padding: 0 0.8rem;
}
/* #showcase{
    
} */
.bg-image{
    background-origin: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
/* .showcase-text{
    font-size:3rem;
    width:100%;
    color:#fff;
    margin-bottom: 1.5rem;
} */
#showcase .secondary-btn{
    width:60%;
    margin: auto;
}
#main-footer{
    color:#ccc;
    text-align:center;
    font-size: 0.8rem;
    max-width:80%;
    padding-top:5rem;
}
#main-footer a{
    color:#f96816;
    text-decoration: underline;
}
/* button */
.primary-btn{
    padding:0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background:#f96816;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}
.primary-btn:hover{
    background: #ff7b39;
}
.secondary-btn{
    padding:0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 500;
    background:none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}
.secondary-btn:hover{
    border-color: #ff7b39;
    color: #ff7b39;
}
/* register component */
#register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:#181818;
    color:#fff;
}
#register form{
    width:80%;
    padding-bottom: 3rem;
}
#register .logo{
    margin-bottom: 8vh;
}
#register label{
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}
#register .form-control{
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding:0.5rem 1rem;
    line-height: 1.3rem;
}
#register .primary-btn{
    width:80%;
    margin:auto;
}
/* /add ppatient coomponent */
#add{
    padding:2rem;
    background:#161818;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
}
.recordz{
    padding:2rem;
    background:#555333;
    color:#fff;
    /* height:100vh; */
    /* margin-top:1.5rem; */
 }
/* .recordz .container{
    margin-top:1.5rem;
} */
/* .reco-d{
    padding:2rem;
} */ 
#add form{
    width:80%;
    margin: auto;
    padding-bottom: 3rem;
}
#add .logo{
    margin-bottom: 8vh;
    text-align: center;
}
#add label{
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}
#add .form-control{
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding:0.5rem 1rem;
    line-height: 1.3rem;
}
#add .primary-btn{
    width:80%;
    margin: auto;
}
.about, .help{
    padding:2rem;
}
.about h1{
    text-decoration: underline;
    text-transform: capitalize;
}
.grid-r{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* margin-top:  3rem ; */
}
.grid-r .primary-btn{
    width:20%;
    border-radius: 3rem;
}
.help h1{
    text-decoration: underline;
    text-transform: capitalize;
}
/* media queries */
@media(min-width:1200px){
    #left{
        flex:4;
    }
    #right{
        flex:6;
    }
}
@media(max-width:768px){
    #wrapper{
        overflow:auto;
    }
    #left{
        justify-content:start;
        margin-top:3vh;
    }
    #signin .logo{
        margin-bottom: 2vh;
    }
    #sigin .form-control{
        margin-bottom: 0.7rem;
    }
    #main-footer{
        padding-top:1rem;
    }
    #right{
        display:none;
    }
}